<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><form method="post">
  {% csrf_token %}
  <input type="text" name="product_name" value="{{data.product_name}}"placeholder="product_name"><br>
  <input type="text" name="price" value="{{data.price}}"placeholder="price"><br>
  <input type="textarea"name="details" value="{{data.details}}"placeholder="details"><br>
    <button type="submit">submit</button>
</form>

</body>
</html>